.footer-widget {
  margin-bottom: 40px;

  &,
  .widget {
    padding: 0;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
  }

  .widget_title {
    font-size: 24px;
    text-transform: capitalize;
    margin: -0.2em 0 36px 0;
  }

  &.widget_meta,
  &.widget_pages,
  &.widget_archive,
  &.widget_categories,
  &.widget_nav_menu {
    margin-bottom: 40px;

    ul {
      margin-bottom: -25px;
    }

    a {
      display: block;
      width: max-content;
      border: none;
      max-width: 100%;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
      margin: 0 0 26px 0;
      color: $title-color;

      &:hover {
        background-color: transparent;
        color: $theme-color;
      }

      &:before {
        content: "\f105";
        font-family: $icon-font;
        color: $theme-color;
        margin-right: 15px;
      }
    }

    li {
      >span {
        @include equal-size(auto);
        position: relative;
        background-color: transparent;
        color: $body-color;
        line-height: 1;
      }
    }
  }
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-text {
  margin-bottom: 25px;
}

.footer-info {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 0 23px 0;
  padding: 0 0 0 65px;
  height: 44px;
  max-width: 330px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }

  i {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: $theme-color;
    color: $white-color;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.footer-number2,
.footer-number {
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  margin: 15px 0 0 0;

  i {
    margin-right: 10px;
  }
}

.footer-number2 {
  margin: -0.05em 0 20px 0;
  font-size: 26px;
  
}

.footer-address {
  max-width: 300px;
  position: relative;
  // padding: 0 0 0 34px;
  padding: 0 0 0 0;
  margin-top: 0;
  margin-bottom: 15px;
  color: #65666d;
  font-weight: 500;
  letter-spacing: 0.02em;

  i {
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 18px;
    width: 23px;
    text-align: center;
    display: inline-block;
  }
}

.footer-location,
.footer-mail {
  font-size: 16px;
  color: $body-color;
  display: block;
  margin-bottom: 14px;
  color: $title-color;
  position: relative;
  padding-left: 35px;

  i {
    position: absolute;
    left: 0;
    top: 3px;
    width: 23px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
  }

}

.footer-mail {
  padding-left: 0;
  color: $title-color;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;  
  &:hover {
    color: $theme-color;
  }
}

.footer-social {
  a {
    display: inline-block;
    background-color: $theme-color;
    color: $white-color;
    width: var(--icon-size, 50px);
    height: var(--icon-size, 50px);
    line-height: var(--icon-size, 50px);
    margin-right: 5px;
    text-align: center;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $secondary-color;
      color: $white-color;
    }
  }
}

.footer-about {
  .footer-social {
    margin-top: 20px;
  }
}

.footer-layout2 {
  .footer-widget {
    .widget_title {
      font-size: 22px;
      margin: -0.1em 0 30px 0;
      text-transform: uppercase;
    }

    &.widget_nav_menu {
      a {
        font-weight: 500;
        color: #65666d;
        font-size: 16px;

        &:before {
          font-weight: 700;
          margin-right: 7px;
        }

        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}

.footer-layout3 {
  .footer-widget {
    .widget_title {
      margin-bottom: 46px;
    }
  }

  .widget_nav_menu {
    padding-top: 37px;
  }
}


@include lg {
  .footer-widget {

    .widget_title {
      font-size: 24px;
      margin-bottom: 30px;
    }

    &.widget_meta,
    &.widget_pages,
    &.widget_archive,
    &.widget_categories,
    &.widget_nav_menu {

      a {
        &:before {
          margin-right: 10px;
        }
      }
    }

    .newsletter-form {
      max-width: 300px;
    }
  }

  .footer-number {
    font-size: 20px;
  }

  .footer-info {
    max-width: 250px;
  }

  .footer-address {
    max-width: 270px;
  }

  .footer-layout3 {
    .footer-widget {

      .widget_title {
        margin-bottom: 30px;
      }

      &.widget_meta,
      &.widget_pages,
      &.widget_archive,
      &.widget_categories,
      &.widget_nav_menu {
        padding-top: 0;
        margin-bottom: 65px;

        a {
          margin: 0 0 20px 0;
        }
      }
    }

  }
}


@include md {
  .footer-widget {
    .widget_title {
      font-size: 22px;
    }

    .newsletter-form {
      max-width: 100%;
    }
  }
}


@include sm {
  .footer-info {
    max-width: 100%;
  }
}