.form-style1 {
  background-color: $theme-color;
  padding: 80px 80px;
  max-width: 750px;
  margin: 50px 0;
  z-index: 2;
  position: relative;

  .form-subtitle {
    font-size: 20px;
    font-weight: 500;
    color: $white-color;
    text-align: center;
    display: block;
    margin: -0.2em 0 2px 0;
  }

  .form-title {
    font-size: 40px;
    font-weight: 500;
    color: $white-color;
    text-align: center;
    margin: 0 0 30px 0;
  }

  .vs-btn {
    padding: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 12px;

    &:before{
      border-radius: 12px;
    }

    &:hover::before {
      transform: scale(1);
    }
  }

  &.layout2 {
    padding: 60px 0;
    background-color: transparent;
    margin: 0;
    max-width: 590px;

    .title-area {
      text-align: center;
    }
  }
}

.contact-shape1 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1170px;
}

.contact-box {
  text-align: center;
  background-color: #f3f5fc;
  padding: 60px 60px 53px 60px;

  &__icon {
    background-color: $white-color;
    width: var(--icon-size, 130px);
    height: var(--icon-size, 130px);
    line-height: calc(var(--icon-size, 130px) - 3px);
    border-radius: 50%;
    border: 2px solid $theme-color;
    position: relative;
    display: inline-block;
    margin: 0 0 30px 0;

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border: inherit;
      border-radius: inherit;
    }
  }

  &__title {
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    margin: 0;

    a {
      @extend .text-inherit;
      display: inline-block;
    }
  }

  &:nth-child(even) {
    background-color: #e7ecff;
  }
}

.contact-map {
  line-height: 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto -80px auto;
}

.contact-shape2 {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: initial;
    max-height: 100%;
  }
}

.form-style2 {
  background-color: rgba(#fd4d17, 0.53);
  --theme-color: #{$secondary-color};
  padding: 40px 35px 40px 35px;
  margin-bottom: 30px;
  border-radius: 7px;

  .form-title {
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: -0.02em;
    color: #1a1a1a;
    text-align: center;
    padding: 0 0 13px 0;
    margin: -0.4em 0 30px 0;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: calc(var(--shape-size, 70px) / -2);
      width: var(--shape-size, 70px);
      height: 2px;
      background-color: $theme-color;
    }
  }

  input,
  textarea {
    border: none;
    border-radius: 5px;
    height: 58px;
    padding: 0 20px 0 20px;
    color: #999ba1;
    font-weight: 14px;
    
    @include inputPlaceholder {
      text-transform: uppercase;
      color: #999ba1;
    }
  }

  textarea {
    padding-top: 12px;
    min-height: 102px;
  }

  .form-group {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include hd {
  .contact-shape1 {
    max-width: 70%;
    background-position: top right;
  }
}

@include ml {
  .form-style1 {
    &.layout2 {
      max-width: 100%;
    }
  }
}

@include lg {
  .contact-box {
    padding: 45px 25px 42px 25px;

    &__icon {
      --icon-size: 100px;
      border: 1px solid var(--theme-color);

      img {
        max-width: 30px;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 28px;
      margin: 0;
    }

    &__title {
      font-size: 20px;
    }
  }
}

@include md {
  .contact-box {
    &__text {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }

  .contact-map {
    iframe {
      height: 400px;
    }
  }
}

@include sm {
  .form-style2 {
    padding: 40px 20px 40px 20px;

    .form-title {
      font-size: 22px;
      letter-spacing: 0;
    }
  }

  .form-style1 {
    padding: 60px 20px;

    .form-subtitle {
      font-size: 14px;
    }

    .form-title {
      font-size: 30px;
    }
  }
}
