.error-number {
  font-size: 200px;
  font-weight: 700;
  line-height: 1;
  color: $theme-color;
  margin: 0 0 10px 0;
}

.error-title {
  color: $white-color;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25;
  margin: 0 0 5px 0;
}

.error-text {
  font-size: 18px;
  color: $white-color;
  margin: 0 0 40px 0;
}


.search-inline {
  position: relative;
  margin: 0 0 30px 0;

  input {
    height: 75px;
    border: none;
    color: $title-color;
    border-radius: 9999px;
    padding: 0 40px;
    font-size: 16px;

    @include inputPlaceholder {
      color: $title-color;
    }
  }

  button {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 26px;
    color: $secondary-color;

    &:hover {
      color: $theme-color;
    }
  }
}

.error-content {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  padding: 240px 0 280px 0;
  position: relative;
  z-index: 1;

  .vs-btn {
    min-width: 220px;
  }
}



.error-shape1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: $secondary-color;
  opacity: 0.60;
  width: 910px;
  height: 910px;
  border-radius: 40% 40% 40% 40% / 40% 40% 40% 40%;
  z-index: -1;
}


@include md {
  .error-number {
    font-size: 120px;
  }

  .error-title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .error-text {
    font-size: 16px;
    margin: 0 0 30px 0;
  }

  .error-content {
    padding: 100px 0 100px 0;
  }
}