.vs-hero-wrapper {
  position: relative;
  z-index: 1;
}


.ls-custom-dot {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 50%;
  margin: 0 11px 0 0;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.active {
    background-color: $white-color;
    border-color: transparent;
  }

  &.style2 {
    display: block;
    margin: 10px 0;

    &:hover,
    &.active {
      background-color: $theme-color;
      border-color: $theme-color;
    }
  }


}


.hero-ripple-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(45deg) scale(0.94);
  border-radius: 40% 40% 40% 40% / 40% 40% 40% 40%;
  z-index: 2;

  img {
    transform: rotate(-45deg) scale(1.09);
    width: 100%;
  }
}

.hero-ripple-border {
  .ripple-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg) scale(0.94);
    border-radius: 40% 40% 40% 40%/ 40% 40% 40% 40%;
    border: 1px solid #bcbcbc;
    animation: ripple3 10s ease-in-out infinite;
    opacity: 0;
    z-index: 1;

    &:nth-child(2) {
      animation-delay: 2.6s;
    }

    &:nth-child(3) {
      animation-delay: 5.2s;
    }

    &:nth-child(4) {
      animation-delay: 7.8s;
    }

    &:nth-child(5) {
      animation-delay: 10.0s;
    }
  }
}

.vs-btn.ls-vs-btn {
  margin-right: 40px;
}


.ls-custom-arrow:not(:last-child) {
  margin-right: 10px;
}

.ls-arrow2,
.ls-custom-arrow.ls-arrow2 {
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
}

.ls-arrow2:last-child,
.ls-custom-arrow.ls-arrow2:last-child {
  margin-bottom: 0;
}

.hero-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
}

.hero-inner {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $title-color;
  min-height: 970px;
  z-index: 1;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
  }
}

.hero-layout3,
.hero-layout2,
.hero-layout1 {
  .slick-current {
    --animation-name: slideinup;
  }
}

.hero-layout1 {
  .hero-subtitle {
    font-size: 20px;
    font-weight: 900;
    color: $white-color;
    letter-spacing: 3px;
    font-family: $title-font;
    display: block;
    margin-bottom: 20px;
    animation-delay: 0s;
  }

  .hero-title {
    font-size: 80px;
    color: $white-color;
    font-family: $title-color;
    line-height: 1.15;
    margin-bottom: 8px;
    animation-delay: 0.2s;
  }

  .hero-text {
    font-size: 22px;
    font-weight: 400;
    font-family: $title-font;
    color: #bbbbbb;
    max-width: 450px;
    margin-bottom: 40px;
  }

  .hero-btns {
    animation-delay: 0.4s;
  }

  .hero-content {
    max-width: 730px;
  }

  .hero-inner {
    align-items: flex-end;
  }

  .hero-img {
    width: max-content;
    margin: 0 0 0 -50px;
    text-align: center;
  }

  .hero-shape2 {
    position: absolute;
    right: 17%;
    bottom: 43%;
    z-index: 2;
    animation-delay: 0.8s;
  }

  .hero-shape1 {
    position: absolute;
    right: -2px;
    bottom: -2px;
    z-index: 2;
    animation-delay: 0.6s;
  }

  .slick-arrow {
    --pos-right: 250px;
    right: var(--pos-right);
    left: auto;
    top: auto;
    bottom: 60px;
    transform: none;
    margin: 0;
    --icon-size: 85px;
    --icon-font-size: 24px;

    &.slick-prev {
      right: calc((var(--icon-size) + var(--pos-right)) + 10px);
    }

    &:hover {
      background-color: $secondary-color;
    }
  }

  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    max-width: var(--main-container);
    margin: 0 auto;
    text-align: left;

    button {
      display: inline-block;
      width: 17px;
      height: 17px;
      background-color: transparent;
      border: 1px solid #808080;
      border-radius: 50%;
      transform: scale(1);
    }

    .slick-active {
      button {
        background-color: $white-color;
        border-color: transparent;
      }
    }
  }
}


.hero-layout2 {
  .hero-subtitle {
    font-size: 16px;
    font-weight: 700;
    font-family: $title-font;
    display: inline-block;
    letter-spacing: 1px;
    color: $theme-color;
    border: 3px solid $theme-color;
    border-radius: 9999px;
    padding: 0 30px;
    height: 40px;
    line-height: 34px;
    margin: 0 0 18px 0;
    animation-delay: 0;
  }

  .hero-title {
    font-size: 70px;
    line-height: 1;
    animation-delay: 0.4s;
  }

  .hero-text {
    font-size: 20px;
    color: $title-color;
    line-height: 30px;
    max-width: 475px;
    margin: 0 0 35px 0;
    animation-delay: 0.6s;
  }

  .hero-media {
    display: flex;
    flex: 1;
    animation-delay: 1s;
  }

  .media-label {
    font-size: 16px;
    color: $title-color;
    font-family: $title-font;
    display: block;
    margin: 12px 0 5px 0;
  }

  .media-info {
    font-size: 26px;
    color: $title-color;
    display: inline-block;

    &:hover {
      color: $theme-color;
    }
  }

  .hero-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;

    .vs-btn {
      margin-bottom: 17px;
      margin-right: 45px;
      animation-delay: 0.8s;
    }
  }

  .hero-content {
    padding: 0 0 30px 0;
    max-width: 49%;
  }

  .hero-img {
    position: relative;
    max-width: 50%;

    .img-1 {
      border-radius: 40% 40% 40% 40% / 40% 40% 40% 40%;
      transform: rotate(45deg) scale(0.94);
      overflow: hidden;
      position: relative;
      z-index: 2;
    }

    img {
      transform: rotate(-45deg) scale(1.1);
    }
  }

  .hero-inner {
    background-color: transparent;
    min-height: auto;
    padding: 80px 0 100px 0;
  }

  .hero-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .slick-dots {
    position: absolute;
    left: -18%;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);

    button {
      transform: none;
    }

    li {
      display: block;
      margin: 12px 0;
    }
  }

  [class*="hero-shape"] {
    position: absolute;
  }

  .hero-shape-1 {
    top: 60px;
    left: 56%;
  }

  .hero-shape-2 {
    top: 133px;
    width: 31px;
    height: 32px;
    left: 52.5%;
  }

  .hero-shape-3 {
    top: 218px;
    left: 48%;
  }

  .hero-shape-4 {
    top: 85px;
    left: 76%;
  }

  .hero-shape-5 {
    top: 85px;
    left: 81%;
  }

  .hero-shape-6 {
    top: 166px;
    left: 84.5%;
  }

  .hero-shape-7 {
    top: 244px;
    width: 31px;
    height: 32px;
    left: 83.8%;
  }

  .hero-shape-8 {
    top: 339px;
    left: 83.5%;
  }

  .hero-shape-9 {
    top: 537px;
    left: 82%;
  }

  .hero-shape-10 {
    top: 693px;
    left: 78.5%;
  }

  .hero-shape-11 {
    top: 739px;
    left: 74%;
  }

  .hero-shape-12 {
    top: 770px;
    left: 80%;
  }

  .hero-shape-13 {
    top: 740px;
    left: 67%;
  }

  .hero-shape-14 {
    top: 680px;
    left: 54.5%;
  }

  .hero-shape-15 {
    top: 724px;
    left: 51%;
  }

  .hero-shape-16 {
    top: 655px;
    width: 31px;
    height: 32px;
    left: 49%;
  }

}

.hero-layout3 {

  .hero-subtitle {
    font-size: 48px;
    font-weight: 700;
    color: $white-color;
    font-family: $title-font;
    letter-spacing: -0.2px;
    display: block;
    line-height: 1;
    animation-delay: 0s;
  }

  .hero-title {
    font-size: 90px;
    color: $white-color;
    letter-spacing: -0.5px;
    margin: -0.13em 0 20px 0;
    animation-delay: 0.4s;
  }

  .hero-text {
    font-size: 22px;
    font-weight: 500;
    font-family: $title-font;
    color: $white-color;
    margin-bottom: 12px;
    animation-delay: 0.8s;

    i {
      margin-right: 10px;
    }

    &:nth-of-type(2) {
      animation-delay: 1s;
    }
  }

  .hero-btns {
    margin-top: 40px;
    animation-delay: 1.4s;
  }

  .hero-shape1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .hero-inner {
    padding-top: 194px;
    min-height: 1050px;
  }

  .slick-arrow {
    right: auto;
    left: 135px;
    --icon-size: 85px;
    --icon-font-size: 24px;
    margin: 0;
    top: 45%;

    &.slick-next {
      top: 55%;
    }

    &:hover {
      border-color: transparent;
      background-color: $secondary-color;
    }
  }



}

@include hd {
  .ls-wrapper>.ls-layer {
    &.ls-hd-none {
      display: none !important;
    }
  }
}

@include xl {
  .hero-layout1 {
    .hero-img {
      max-width: 460px;
      margin: 0;
    }

    .hero-title {
      font-size: 62px;
    }

    .hero-subtitle {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .hero-text {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .hero-inner {
      min-height: 800px;
    }

    .hero-shape1 {
      max-width: 650px;
    }

    .hero-shape2 {
      right: 7%;
      bottom: 40%;
    }
  }


  .hero-layout2 {
    .hero-title {
      font-size: 60px;
    }

    .hero-subtitle {
      font-size: 14px;
      padding: 0 20px;
    }

    .hero-bottom {
      .vs-btn {
        margin-bottom: 17px;
        margin-right: 25px;
      }
    }

    .hero-shape-4 {
      top: 5%;
      left: 78%;
    }

    .hero-shape-6 {
      top: 15%;
      left: 91.5%;
    }

    .hero-shape-7 {
      top: 29%;
      left: 92.8%;
    }

    .hero-shape-8 {
      top: 62%;
      left: 92.5%;
    }

    .hero-shape-9 {
      top: 73%;
      left: 87%;
    }

    .hero-shape-10 {
      top: 85%;
      left: 77.5%;
    }

    .hero-shape-11 {
      top: 85%;
      left: 87%;
    }

    .hero-shape-12 {
      top: 84%;
      left: 69%;
    }

    .hero-shape-13 {
      top: 78%;
      left: 60%;
    }

    .hero-shape-14 {
      top: 47%;
      left: 46.5%;
    }

    .hero-shape-15 {
      top: 95%;
      left: 51%;
    }

    .hero-shape-15 {
      top: 63%;
      left: 51%;
    }

    .hero-shape-16 {
      top: 72%;
      left: 52%;
    }
  }

}

@include ml {
  .ls-wrapper>.ls-layer {
    &.ls-ml-none {
      display: none !important;
    }
  }

  .hero-layout3 {
    .hero-inner {
      padding-top: 184px;
      min-height: 800px;
    }

    .hero-title {
      font-size: 72px;
      margin-bottom: 15px;
    }

    .hero-subtitle {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .hero-text {
      font-size: 18px;
    }

    .hero-shape1 {
      max-width: 1000px;
    }
  }
}

@include lg {
  .hero-layout1 {
    .hero-img {
      max-width: 400px;
    }

    .hero-title {
      font-size: 48px;
    }

    .hero-subtitle {
      font-size: 14px;
      letter-spacing: 0.1em;
    }

    .hero-text {
      font-size: 16px;
    }

    .hero-inner {
      min-height: auto;
      padding-top: 50px;
    }

    .hero-shape1 {
      max-width: 550px;
    }
  }

  .hero-layout2 {
    [class*=hero-shape] {
      display: none;
    }

    .hero-title {
      font-size: 48px;
    }

    .hero-text {
      font-size: 18px;
      line-height: 28px;
      max-width: 400px;
      margin-bottom: 20px;
    }

    .hero-bottom {
      display: block;

      .vs-btn {
        margin-bottom: 0;
      }
    }

    .hero-inner {
      padding: 30px 0 60px 0;
    }

    .media-label {
      font-size: 14px;
      margin: 8px 0 7px 0;
    }

    .media-info {
      font-size: 22px;
    }

    .hero-subtitle {
      font-size: 14px;
      border-width: 2px;
      padding: 0 25px;
    }

    .hero-text {
      font-size: 16px;
      line-height: 26px;
      max-width: 340px;
      margin-bottom: 15px;
    }
  }

  .hero-layout3 {
    .hero-inner {
      padding-top: 80px;
      padding-bottom: 80px;
      min-height: auto;
    }

    .hero-subtitle {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .hero-title {
      font-size: 60px;
    }

    .hero-text {
      font-size: 16px;

      i {
        margin-right: 5px;
      }
    }

    .hero-btns {
      margin-top: 30px;
    }

    .hero-shape1 {
      max-width: 600px;
    }
  }


}

@include md {
  .hero-layout1 {
    .hero-img {
      max-width: 300px;
    }

    .hero-title {
      font-size: 40px;
    }

    .hero-shape1 {
      max-width: 350px;
    }
  }

  .hero-layout2 {
    .hero-title {
      font-size: 40px;
    }
  }

  .hero-layout3 {
    .hero-inner {
      padding-top: 60px;
      padding-bottom: 60px;
      min-height: auto;
    }

    .hero-subtitle {
      font-size: 26px;
      margin-bottom: 10px;
    }

    .hero-title {
      font-size: 48px;
    }

    .hero-text {
      font-size: 14px;

      i {
        margin-right: 5px;
      }
    }

    .hero-btns {
      margin-top: 30px;
    }

    .hero-shape1 {
      max-width: 500px;
    }
  }
}

@include sm {
  .hero-layout1 {
    text-align: center;

    .hero-btns {
      justify-content: center;
    }

    .hero-img {
      max-width: 100%;
      padding-top: 40px;
    }

    .hero-subtitle {
      letter-spacing: 0;
    }

    .hero-text {
      max-width: 100%;
    }

    .hero-title {
      font-size: 30px;
    }

    .hero-shape1 {
      max-width: 300px;
    }

    .hero-shape2 {
      bottom: 10%;
    }
  }

  .hero-layout2 {

    .hero-row {
      display: block;
    }

    .hero-img {
      max-width: 100%;
      margin-bottom: 0;
      margin-top: 35px;

      .hero-ripple-border {
        display: none;
      }
    }

    .hero-content {
      max-width: 100%;
      text-align: center;
      padding: 0;
    }

    .hero-media {
      display: flex;
      text-align: left;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
    }

    .hero-title {
      font-size: 36px;
    }

    .hero-text {
      max-width: 100%;
    }

    .hero-bottom {
      .vs-btn {
        margin-right: 0;
      }
    }

    .hero-inner {
      padding-bottom: 0;
    }
  }

  .hero-layout3 {
    text-align: center;
    
    .hero-subtitle {
      font-size: 18px;
    }

    .hero-title {
      font-size: 30px;
    }

    .hero-text {
      font-size: 14px;
    }

    .hero-btns {
      margin-top: 25px;
      justify-content: center;
      
      .vs-btn {
        padding: 17px 26px;
        font-size: 14px;
      }
    }

    .hero-shape1 {
      max-width: 600px;
    }
  }
}


@media (max-width: 1500px) {
  .ls-layer .ls-vs-btn {
    padding: 18px 25px;
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .ls-layer .ls-vs-btn {
    padding: 14px 26px;
    margin-right: 20px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ls-layer .ls-vs-btn {
    padding: 9px 19px;
    margin-right: 10px;
    font-size: 11px;
  }
}